/__pycache__
/all_sims
/all_sims_old
/Old
/plots
/zzz
/saves
/cond_trainer
/NC_trainer
developtest.ipynb
developVis.ipynb
developVis2.ipynb
finallyfixed.ipynb
flowcode copy.py
nightrunner.py
processing copy.py
TEMP.npy
test.py
test1.ipynb
testtest.ipynb
To_do
sklearn.ipynb
nohup.out
MAFTEST.ipynb
status_output_training.txt
device_use.py
